# Limites de Operaciones
LIMITE_RETIRO=5000
LIMITE_TRANSFERENCIA=10000
LIMITE_INGRESO=2000
# Umbrales de Detección de Anomalias
UMBRAL_RETIROS=3
UMBRAL_TRANSFERENCIAS=3
UMBRAL_INGRESOS=3
UMBRAL_TOTAL=5
# Parámetros de Ejecución
NUM_HILOS=4
ARCHIVO_CUENTAS=data/cuentas.dat
ARCHIVO_TRANSACCIONES=logs/transacciones.log
ARCHIVO_LOG=logs/banco.log
ARCHIVO_ERRORES=data/errores.dat